/* body styling */
body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  position: relative;
  font-weight: 300;
}

/* link styling */
a {
  color: #bebebe;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  background-color: #fff;
  text-align: center;
  margin-top: 10%;
}

/* add color to fa icons */
.fa-instagram:hover {
  color: #262626;
}

.fa-lastfm:hover {
  color: #b80610;
}

.fa-github:hover {
  color: #24292e;
}

.fa-linkedin:hover {
  color: #0077b5;
}
