body {
  font-family: 12px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 200;
  position: relative;
  text-transform: lowercase;
}

i {
  color: #666c8f;
}

h1 {
  font-weight: 200;
}

.navbar {
  background-color: #fff;
  background:rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #333;
}

.navbar-brand{
  margin-top: -13px;
}

p {
  font-size: 24px;
}

#s1, #s2 {
  padding-top:50px;
  height:100vh;
  color: #fff;
}

#s1 {
  background-color: #8ca9d8;
  background:url('images/leslie.png')
  no-repeat center;
  background-size: cover;
  color: #333;
}

#s2{
  background-color: #666c8f;
  background: url('images/sf.jpg')
  no-repeat center;
  background-size: cover;
}

#s3 {
  height: 20vh;
  background-color: #eee;
  color: #333;
}

/*link section and transitions*/
a {
  color: #808080;
  transition: all 0.5s ease;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

/*media styling*/
.media-heading {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 30px;
}

.media {
  margin: 10px;
}

.media img {
  margin-right: 10px;
}

/*font awesome styling*/
.fa-linkedin-square, .fa-instagram, .fa-lastfm-square, .fa-file-word-o,
.fa-envelope-o, .fa-file-pdf-o, .fa-github-square {
  padding: 10px;
  transition: background-color 0.75s ease;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
}

.fa-linkedin-square{
  color: #0f7db8;
}

.fa-instagram {
  color: #004879;
}

.fa-lastfm-square {
  color: #b90000;
}

.fa-file-pdf-o {
  color: #8899aa;
}

.fa-github-square {
  color: #24292e;
}
